<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask & mango db Todo App</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="container">
      <h1>Flask & mango db Todo App</h1>
      <p>This is a mongo db test app</p>
      <form action="{{url_for('add_todo')}}" method="post" class="mainForm">
        <input type="text" name="todo" id="todo" />
        <button type="submit">Add Todo</button>
      </form>
      {%for item in todos%}
      <div class="todoItems">
        <form action="{{url_for('update_todo', id=item._id)}}" method="post">
          <input
            type="text"
            name="update_todo"
            class="updateField {%if item.completed%} completed {%endif%}"
            value="{{item.todoItem}}"
            style="border: 0; font-size: large;"
          />
          <button type="submit" class="update-button" style="display: none">
          </button>
        </form>
        <a class="done-btn" href="{{url_for('complete_todo', id=item._id)}}">Compeleted</a>
        <a class="delete-btn" href="{{url_for('delete_todo', id=item._id)}}">Delete</a>
      </div>
      {%endfor%}
    </div>

  </body>
</html>
